<h3>Compose</h3>
<form role="form" class="message-form">
	<div class="form-group">
		<label>Text</label>
		<textarea id="message" class="form-control" placeholder="Send a message"></textarea>
	</div>
	<button type="submit" class="btn btn-success send-message">Send</button>
</form>